p {
  margin: 0 !important;
  line-height: 120% !important;
}
  
// Button classes

.btn {
  @layer inline-flex items-center gap-x-1
}

.btn-danger {
  @layer inline-flex items-center gap-x-1 text-red-500
}

.btn.ant-btn-sm {
  @layer gap-x-1
}

.btn.ant-btn-lg {
  @layer gap-x-2
}

.btn-success {
  @layer bg-green-500 border-none text-white btn;

  &:not([disabled]) {
    &:hover {
      color: white !important;

      &[disabled] {
        color: gray !important;
      }
    }

    &:focus {
      color: white !important;
    }
  }
}

.base-skeleton {
  &-input > .ant-skeleton-input {
    width: 100% !important;
  }
}

.scroller-modal {
  height: 100dvh;

  .ant-modal {
    height: 100%;

    .ant-modal-content {
      height: 100%;
      display: flex;
      flex-direction: column;

      .ant-modal-body {
        overflow: hidden auto;
        flex-grow: 1;
      }
    }
  }
}

.ant-switch.ant-switch-checked {
  background: #5a67ba;
}

.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background: #91a2ff;
}